/* main tags */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 48px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

td {
  width: 200px;
}

/* main classes */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 80px 0 20px 0;

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.container {
  margin-bottom: 32px;
  padding: 20px 100px;
}

.font-hand01 {
  font-family: "Julee", cursive;
}

.button01 {
  padding: 8px 16px;

  border: 2px solid #fff;
  border-radius: 10px;
}

.button01:hover {
  background-color: #fff;
  color: rgb(10, 0, 156) !important;
}

.button02 {
  padding: 8px 16px;

  border: 2px solid rgb(10, 0, 156);
  border-radius: 10px;
  color: rgb(10, 0, 156);
  font-size: 20px;
  text-decoration: none;
}

.button02:hover {
  background-color: rgb(10, 0, 156);
  color: #fff;
}

.bg-grey {
  background-color: rgb(0, 0, 0, 0.2);
}

/* header */

.headline01 {
  color: #dde07e;
  filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
}

.head-img {
  width: 100%;
  height: 500px;

  object-fit: cover;
}

/* menu */

.main-menu {
  position: absolute;
  top: 32px;
  right: 0;

  z-index: 10;
}

.main-menu a {
  margin-right: 50px;

  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  text-align: right;
}

.main-menu a:hover {
  color: #c4d3ff;
}

/* body */

.googlemaps {
  height: 350px;
  width: 90%;

  border: 0;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;

  margin: 0;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: rgb(94, 94, 94);
  color: #fff;
  font-size: 20px;
}

.footer-link {
  color: #fff;
  cursor: pointer;

  text-decoration: none;
}

.footer-link:hover {
  color: #c4d3ff;
}
